@import variables
@import reset
@import fonts

.intro
  padding: 0 165px
  background-color: $black

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 35px 0
  color: $light-gray
  font-family: 'Roboto'
  font-size: 16px
 
.header__logo
  font-family: 'Bebas Neue'
  font-size: 24px

.he

.header__menu
  ul
    display: flex
    flex-direction: row
    align-items: flex-start
  li
    margin: 0 45px

.header__lang
  display: inline-block
  margin-right: 20px

.sign-in
  padding: 8px 30px
  border-radius: 30px
  background-color: $blue
  text-align: center
  color: $light-gray
  font-size: 16px
  cursor: pointer