@import variables
@import reset
@import fonts

.intro
  padding: 0 12%
  background-color: $black

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 35px 0
  color: $light-gray
  font-family: 'Roboto'
  font-size: 16px
 
.header__logo
  font-family: 'Bebas Neue'
  font-size: 24px

@media (min-width: 1100px)    
  .header__lang
    display: none


.menu
  display: flex
  flex-direction: row
  align-items: flex-start

.menu__item
  margin: 0 35px

.header__extra
  display: flex
  align-items: center
  flex-direction: row
  
.header__lang
  display: inline-block
  margin-right: 20px

.header__burger
  display: none
  margin-left: 30px
  cursor: pointer

.sign-in
  padding: 8px 30px
  border-radius: 30px
  background-color: $blue
  text-align: center
  color: $light-gray
  font-size: 16px
  cursor: pointer

@media screen and (max-width: 1048px )
  .header__menu, .header__lang
    display: none
  
  .header__burger
    display: inline-block
